.editmodalusers{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.508);
    overflow: scroll;
}
.editmodalusers-box{
    width: 230px;
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.editmodalusers-box input{
    border: none;
    background-color: var(--white-50);
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px 7px 10px 0;
}
.editmodalusers-box button{
    margin-top: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 7px;
}